h1 {
  font-family: "Cherry Bomb One", cursive;
  color: #25161b;
  font-size: 60px;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  color: #453953;
  line-height: 5px;
  display: inline;
  font-size: 30px;
  padding: 20px;
}
body {
  background: #f3cba5;
  margin: 0 auto;
  text-align: center;
}
.weatherApp {
  font-size: 150px;
  margin-top: 20px;
}
form {
  position: relative;
  top: 30px;
}
input {
  background-color: #fadcbf;
  border: solid;
  border-color: #453953;
  border-width: 0.5px;
}
button {
  background: #fadcbf;
  border: solid #25161b;
  transition: 200ms ease-in-out;
  border-width: 0.5px;
}
button:hover {
  background-color: #25161b;
  border: solid #fadcbf;
  border-width: 0.5px;
  cursor: pointer;
}
.currentTemp {
  font-size: 100px;
  display: inline;
  position: relative;
  top: -25px;
  left: 20px;
}
.magnify {
  font-size: 15px;
}
.container {
  background-color: rgb(246, 237, 228);
  border-radius: 20px;
  width: 700px;
  padding: 80px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: #25161b;
}
.cAndF {
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
  font-size: 25px;
}
.cAndF:hover {
  color: aliceblue;
}
#current-location {
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
}
#current-location:hover {
  color: aliceblue;
}
